.hourlyWeather{
    width: 30%;
    margin: 15px auto 40px auto;

    
        

    .hourlyForecasts{
        display:flex;   
        flex-direction: row;
        justify-content: space-between;
    }
}